.experiences-1 {
  background: #151515;
  border-radius: 30px;
  text-align: left;
  padding: 30px 50px;
  margin: 10px 30px;
  width: 60%;
  animation: animateIn 1.0s ease-out forwards;

}

.experiences-2 {
  background: #151515;
  border-radius: 30px;
  text-align: left;
  padding: 30px 50px;
  margin: 10px 30px;
  width: 73%;
  animation: animateIn 1.0s ease-out forwards;
  animation-delay: 150ms;
}

.experiences-3 {
  background: #151515;
  border-radius: 30px;
  text-align: left;
  padding: 30px 50px;
  margin: 10px 30px;
  width: 86%;
  animation: animateIn 1.0s ease-out forwards;
  animation-delay: 300ms;
}

.experiences-4 {
  background: #151515;
  border-radius: 30px;
  text-align: left;
  padding: 30px 50px;
  margin: 10px 30px;
  width: 100%;
  animation: animateIn 1.0s ease-out forwards;
  animation-delay: 450ms;
}

.experiences-1:hover,
.experiences-2:hover,
.experiences-3:hover,
.experiences-4:hover {
  box-shadow: 0 0 30px #fff;
  transition: box-shadow .5s ease-in-out
}

.experience-title {
  margin-left: 50px;
  width: 100%;
}

h4 {
  margin-bottom: 10px;
}

.experience-company {
  display: flex;
  justify-content: space-between;
}

@keyframes animateIn {
  0% {
    opacity: 0;
    transform: scale(0.6) translateY(-8px);
  }

  100% {
    opacity: 1;
  }
}

.experience-scrolled {
  display: none;
}

h1{
  margin-top: 100px
}
h2 {
  font-size: 30px;
  font-weight: bold;
}

h3{
  font-size: 22px;
}

h4{
  font-size: 18px;
}

p{
  font-size: 18px;
}

.experience-desc{
  max-height:0;
  opacity: 0;
  transition: max-height .5s ease-out, opacity .4s ease-out
}

.experiences-1:hover .experience-desc{
  max-height: 400px;
  opacity: 1;
  transition: max-height .5s ease-in, opacity .5s ease-in-out;
}

.experiences-2:hover .experience-desc {
  max-height: 400px;
  opacity: 1;
  transition: max-height .5s ease-in, opacity .5s ease-in;

}

.experiences-3:hover .experience-desc{
  max-height: 400px;
  opacity: 1;
  transition: max-height .5s ease-in, opacity .5s ease-in;

}

.experiences-4:hover .experience-desc{
  max-height: 400px;
  opacity: 1;
  transition: max-height .5s ease-in, opacity .5s ease-in;

}