h1 {
    margin: 0 50px
}

.card-container {
    display: flex;
    margin: 20px 50px;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: flex-start;
}

.card {
    background-color: #121212;
    width: 18rem;
    padding: 20px;
    border-radius: 20px;
    margin: 10px;
}

.project-image-1, .project-image-2, .project-image-3{
    width: 15rem;
    display: block;
    margin: auto;
    border-radius: 5px;
}


.body {
    max-height: 0;
    opacity: 0;
    transition: max-height .5s ease-out, opacity .4s ease-out;
    visibility: collapse
}

.card:hover .body {
    max-height: 400px;
    opacity: 1;
    transition: max-height .5s ease-in, opacity .5s ease-in-out;
    visibility: visible;
}
