img {
  width: 175px;
}

.skills-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  margin: 60px 110px;
}

.skills-title {
  width: 100%;
  margin: 100px 0 20px 50px;
}

.skill {
  padding: 10px 30px;
  transition: transform .2s
}

.skill:hover{
  transform: scale(1.1);
}

.skills{
  background-color: #121212;
}
